{% extends "home/base.html" %}
{% load static %}
{% block content %}
  <div class = "home-mainbody center1">
    <div class="table-container">
      <table class="table table-striped table-bordered table-sm">
          <thead class="thead-dark">
            <tr>
              <th>District Code</th>
              <th>Mandal Code</th>
              <th>Village Code</th>
              <th>GSWS Code</th>
              <th>VRO code</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody> 
            {% for vro in vros %} <tr>
              <td>{{ vro.district_code }}</td>
              <td>{{ vro.mandal_code }}</td>
              <td>{{ vro.village_code }}</td>
              <td>{{ vro.gsws_code }}</td>
              <td>{{ vro.vro_code }}</td>
              <td>
                <a href="/update_revenue_vro/{{ vro.vro_entry }}">
                  <span class="glyphicon glyphicon-pencil">Edit</span>
                </a>
                <a href="/delete_revenue_vro/{{ vro.vro_entry }}">Delete</a>
              </td>
            </tr> 
            {% endfor %} 
          </tbody>
      </table>
    </div>
      <br>
      <br>
      <div class = "button-center">
        <a href="/add_revenue_vro/" class="btn btn-primary">Add New Record</a>
      </div>
  </div>
{% endblock content %}