{% extends "home/base.html" %}
{% load static %}
{% block content %}
  <div class = "home-mainbody">
      <table class="table table-striped table-bordered table-sm">
          <thead class="thead-dark">
            <tr>
              <th>District Code</th>
              <th>SRO Code</th>
              <th>SRO ID</th>
              <th>SRO Name</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody> 
            {% for sro in sros %} <tr>
              <td>{{ sro.district_code }}</td>
              <td>{{ sro.sro_code }}</td>
              <td>{{ sro.sro_id }}</td>
              <td>{{ sro.sro_name }}</td>
              <td>
                <a href="/update_register_sro/{{ sro.sro_id }}">
                  <span class="glyphicon glyphicon-pencil">Edit</span>
                </a>
                <a href="/delete_register_sro/{{ sro.sro_id }}">Delete</a>
              </td>
            </tr> 
            {% endfor %} 
          </tbody>
      </table>
      <br>
      <br>
      <div class = "button-center">
        <a href="/add_register_sro/" class="btn btn-primary">Add New Record</a>
      </div>
  </div>
{% endblock content %}