{% extends "home/base.html" %}
{% load static %}
{% block content %}
  <div class = "home-mainbody">
      <table class="table table-striped table-bordered table-sm">
          <thead class="thead-dark">
            <tr>
              <th>Village Code</th>
              <th>District Code</th>
              <th>Mandal Code</th>
              <th>village Name</th>
              <th>Village ID</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody> 
            {% for village in villages %} <tr>
              <td>{{ village.village_code }}</td>
              <td>{{ village.dist_code }}</td>
              <td>{{ village.mandal_code }}</td>
              <td>{{ village.village_name }}</td>
              <td>{{ village.village_id }}</td>
              <td>
                <a href="/update_revenue_village/{{ village.id }}">
                  <span class="glyphicon glyphicon-pencil">Edit</span>
                </a>
                <a href="/delete_revenue_village/{{ village.id }}">Delete</a>
              </td>
            </tr> 
            {% endfor %} 
          </tbody>
      </table>
      <br>
      <br>
      <div class = "button-center">
        <a href="/add_revenue_village/" class="btn btn-primary">Add New Record</a>
      </div>
  </div>
{% endblock content %}